extends partial/layout

include mixins

block content
  .autopagerize_page_element: .content
    - page.posts.each(function (item) {
      +make_post(item, false)
    - })
    +make_pager(__('prev'), __('next'))
